:root {
  --green: #4e891;
  --light_green: rgba(21, 219, 67, 0.7);
  --light_red: rgba(223, 89, 89, 0.75);
  --color1: rgba(255, 193, 7, 0.4);
  --color2: rgba(40, 167, 69, 0.5);
  --color3: rgba(68, 102, 238, 0.6);
}

html,
body,
ul {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

li {
  list-style: none;
}

#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.mirrorImage {
  border-radius: 50px;
  -webkit-box-reflect: below 0px
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

/* Login page */

.login {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-template-areas: "login items items";
  /* justify-content: space-around;
  align-items: center; */
  padding: 20px;
}

.login-container {
  position: relative;
  grid-area: login;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-item {
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 5px 15px;
}

.login-btn {
  padding: 9px 12px;
  background-color: var(--light_green);
  border: none;
  color: white;
  font-size: medium;
  font-weight: bold;
  letter-spacing: 1.5px;
  border-radius: 8px;
  cursor: pointer;
}

.items-container {
  grid-area: items;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  padding: 10px 20px;
  margin: 5px;
  border-radius: 10px;
  list-style: none;
  background-color: rgba(40, 167, 69, 0.42549019607843137);
  max-width: 200px;
}

.card:nth-child(even) {
  background-color: rgba(255, 193, 7, 0.42549019607843137);
}

.load_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.load_box {
  width: 50px;
  height: 50px;
  border-radius: 16px;
  margin: 3px;
}

.load_style {
  position: relative;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  font-family: cursive;
  font-size: larger;
  font-weight: 700;
  animation: load_animation 500ms infinite linear alternate-reverse;
}

.load_style:nth-child(even) {
  animation-delay: 500ms;
}

/* navar */
.nav-container {
  display: flex;
  justify-content: space-around;
  padding: 3px 6px;
}

.nav-items {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f7;
}
.nav-item {
  min-width: 100%;
  padding: 1.2rem;
  font-size: large;
  font-weight: 600;
  border-bottom: 1px solid rgb(0 0 0 / 3%);
  border-top: 1px solid rgb(0 0 0 / 3%);
}

.nav-item > a {
  background-color: lightgrey;
  padding: 3px 5px;
  border-radius: 5px;
}

.nav-item > a.active {
  background-color: rgba(76, 117, 242, 0.09);
  color: #4c75f2;
}
/* media queries */

@media screen and (max-width: 524px) {
  .login {
    grid-template-areas:
      "login login login"
      "items items items";
  }
}

/* key frames */

@keyframes load_animation {
  0% {
    top: 20px;
  }
  100% {
    top: 0px;
  }
}

/* utilities */
.flex-center-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-center-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.border-black {
  margin: 3px;
  border: 1px solid black;
}

.border-right-gray {
  padding-right: 10px;
  border-right: 0.4px solid gray;
}
